# Ignorar variáveis de ambiente e ambientes virtuais
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar pastas específicas de IDEs
.vscode/
.idea/
uploaded_files/

# Ignora a pasta onde o banco vetorial Chroma é salvo
data/